<form method="post" action="{{ path('residence_delete', {'idResi': residence.idResi}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ residence.idResi) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
