{% block title %}Project WorkShop 7 !{% endblock %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Project WorkShop 7 </title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    <style>

        .map-container{
            overflow:hidden;
            padding-bottom:56.25%;
            position:relative;
            height:0;
        }
        .map-container iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        }
    </style>

{% include "Common/NavBar.html.twig" %}

<body class="grey lighten-3">

{% include "Common/Header.html.twig" %}

{% block body %} {% endblock %}
</body>

{% include "Common/Footer.html.twig" %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
<!-- SCRIPTS -->
<script type="text/javascript">


</script>
